@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins',sans-serif;
    background: #0f0f13;
    color: white;
}

/*====================================================
                        HOME
====================================================*/

.hero {
    position: relative;
    min-height: 110vh;
    justify-content: center;
    align-items: start;
    overflow: hidden;
}

.overlay {
    background-image: url('../img/meu amor na praia.png');
    position: absolute;
    inset: 0px 50px 0px 50px;
}

.hero-content {
    margin-top: 5vh;
    position: relative;
    width: max(px,70%);
    text-align: center;

}

.tag {
    display: inline-block;
    background: rgba(255,255,255,.12);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,.15);
    padding: 10px 22px;
    border-radius: 999px;
    margin-bottom: 20px;
}

.hero h1 {
    font-family: 'Playfair Display',serif;
    font-size: clamp(3rem,8vw,5.5rem);
    line-height: 1.1;
}

.hero p {
    margin: 30px auto;
    font-size: 1.15rem;
    line-height: 1.9;
    color: #ececec;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background: #ff5f8f;
    padding: 18px 40px;
    border-radius: 999px;
    transition: .3s;
    font-weight: 600;
}

.nomeinho{

    margin-top: 19vh;
    text-align:center;
}

    .btn:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 35px rgba(255,95,143,.4);
    }

/*====================================================
                    HOME CARDS
====================================================*/

.cards {
    width: min(1200px,92%);
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 25px;
}

.card {
    background: #1d1d25;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 25px;
    padding: 35px;
    transition: .35s;
}

    .card:hover {
        transform: translateY(-10px);
        border-color: #ff5f8f;
    }

.emoji {
    font-size: 3rem;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 15px;
}

.card p {
    color: #d4d4d4;
    line-height: 1.8;
}

/*====================================================
                   HOME RESPONSIVO
====================================================*/

@media(max-width:768px) {

    .hero {
        padding: 50px 0;
    }

        .hero h1 {
            font-size: 3rem;
        }

        .hero p {
            font-size: 1rem;
        }
}
/* =======================
        TIMELINE
======================= */

.timeline {
    width: min(1200px,90%);
    margin: 15vh auto;
    background-color: rgba(255,95,143,.4);
    border-radius: 30px;
    border: 2px, groove, #ff79a8;
}

    .timeline h2 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 70px;
        font-family: "Playfair Display",serif;
    }

.linha {
    position: relative;
}

    .linha::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 100%;
        background: #ff5f8f;
        margin-top: 20vh;
    }

.evento {
    width: 50%;
    padding: 30px;
    position: relative;
}

.esquerda {
    padding-right: 60px;
}

.direita {
    margin-left: 50%;
    padding-left: 60px;
}

.conteudo {
    background: rgba(255,255,255,.08);
    border: 1px solid rgba(255,255,255,.15);
    border-radius: 20px;
    padding: 25px;
    backdrop-filter: blur(10px);
}

.evento::before {
    content: "";
    width: 18px;
    height: 18px;
    background: #ff5f8f;
    border-radius: 50%;
    position: absolute;
    top: 45px;
}

.esquerda::before {
    right: -9px;
}

.direita::before {
    left: -9px;
}

@media(max-width:900px) {

    .linha::before {
        left: 20px;
    }

    .evento {
        width: 100%;
        padding-left: 60px;
        padding-right: 0;
        margin-left: 0;
    }

        .evento::before {
            left: 12px;
        }
}

.textinho {
    font-size:x-large;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 30vh;
}

/*====================================================
                        NAVBAR
====================================================*/

.navbar {
    position:fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: min(800px,95%);
    height: 60px;
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 0 35px;
    background: rgba(255,255,255,.08);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,.15);
    border-radius: 50px;
    z-index: 999;
    box-shadow: 0 15px 35px rgba(0,0,0,.15);
}

.logo {
    font-family: "Poppins",sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
}

.nav-links {
    display: flex;
    gap: 40px;
    margin-top:auto;
    list-style: none;
}

    .nav-links a {
        text-decoration: none;
        color: white;
        font-family: "Poppins",sans-serif;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        transition: .3s;
    }

        .nav-links a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 0;
            height: 2px;
            background: #ff79a8;
            transition: .3s;
        }

        .nav-links a:hover {
            color: #ffb3cc;
        }

            .nav-links a:hover::after {
                width: 100%;
            }


@media (max-width:900px) {

    .navbar {
        width: 70%;
        padding: 0 20px;
    }

    .nav-links {
        gap: 18px;
    }
}

@media (max-width:700px) {

    .navbar {
        flex-direction: column;
        height: auto;
        padding: 18px;
        border-radius: 25px;
    }

    .logo {
        margin-bottom: 15px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}
/*====================================================
                       CARTAS
====================================================*/


.carta-page {
    margin-top: 5vh;
    min-height: 100vh;
    width: 100%;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0f13;
    font-family: "Poppins", sans-serif;
}


/* CARTA */

.carta {
    width: min(850px, 100%);
    padding: 70px 80px;
    background: #fffdf9;
    border-radius: 6px;
    box-shadow: 0 20px 60px rgba(100, 30, 50, .15);
    position: relative;
}


/* DETALHE SUPERIOR */

.carta-topo {
    text-align: center;
}

    .carta-topo span {
        font-size: 40px;
    }

    .carta-topo p {
        margin-top: 10px;
        font-size: 15px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #a35b70;
    }


/* LINHA */

.line {
    width: 80px;
    height: 2px;
    margin: 30px auto 40px;
    background: #d9829b;
}


/* TÍTULO */

.carta h1 {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 42px;
    color: #4b2733;
    margin-bottom: 50px;
}


/* TEXTO */

.texto {
    color: #4b3a40;
    font-size: 17px;
    line-height: 2;
}

    .texto p {
        margin-bottom: 25px;
    }


/* ASSINATURA */

.assinatura {
    margin-top: 60px;
    text-align: right;
    color: #6a3a48;
    font-family: "Playfair Display", serif;
    font-size: 20px;
}

    .assinatura strong {
        display: block;
        margin-top: 8px;
        font-size: 28px;
        color: #a34d68;
    }


/* MOBILE */

@media (max-width: 600px) {

    .carta-page {
        padding: 30px 15px;
    }

    .carta {
        padding: 40px 25px;
    }

        .carta h1 {
            font-size: 30px;
            margin-bottom: 35px;
        }

    .texto {
        font-size: 15px;
        line-height: 1.8;
    }

    .assinatura {
        margin-top: 40px;
    }
}



